@charset "UTF-8"

* {
    margin: 0px;
    padding: 0px;
}

body {
    background-color: rgb(70, 142, 236);
    font-family: Arial, Helvetica, sans-serif;
    font-size: 15pt;
}

header {
    margin: 50px 0px 20px 0px;
    text-align: center;
    color: white;
}

section {
    background-color: white;
    margin: auto;
    padding: 15px;
    width: 500px;
    height: 400px;
    border-radius: 10px;
    border: 1px solid black;
    box-shadow: 3px 3px 10px rgba(0, 0, 0, 0.363);

}

div {
    text-align: center;
    padding: 8px;
}

footer {
    margin: 20px 0px 50px 0px; 
    text-align: center;
    color: white;
    font-style: italic;
}
